 .u-section-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url("images/g63970ea2ee3c850f443108f6298c35e13b2e4e3257c77636d9075c61216418c359e20cbe0e4b062b137130eb5f451a9ecb1c22d514feee9f0b720ad610269c22_1280.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 321px;
}

.u-section-1 .u-text-1 {
  margin: 35px auto 0;
}

.u-section-1 .u-text-2 {
  width: 826px;
  margin: 35px auto 60px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 265px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 203px;
  }

  .u-section-1 .u-text-2 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 152px;
  }

  .u-section-1 .u-text-2 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 96px;
  }

  .u-section-1 .u-text-2 {
    width: 340px;
  }
} .u-section-2 {
  min-height: 100px;
}

.u-section-2 .u-sheet-1 {
  min-height: 594px;
}

.u-section-2 .u-layout-wrap-1 {
  margin: 0 auto 0 0;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 594px;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px 60px;
}

.u-section-2 .u-text-1 {
  margin: 10px auto 0;
}

.u-section-2 .u-text-2 {
  margin: 33px 0 0;
}

.u-section-2 .u-layout-cell-2 {
  min-height: 640px;
}

.u-section-2 .u-container-layout-2 {
  padding: 20px 0;
}

.u-section-2 .u-text-3 {
  margin: 20px auto 0;
}

.u-section-2 .u-text-4 {
  margin: 33px 10px 0 33px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 100px;
  }

  .u-section-2 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 490px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 528px;
  }

  .u-section-2 .u-text-4 {
    margin-right: 0;
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 995px;
}

.u-section-3 .u-text-1 {
  margin: 28px auto 0;
}

.u-section-3 .u-text-2 {
  line-height: 1.8;
  width: 680px;
  margin: 28px auto 0;
}

.u-section-3 .u-video-1 {
  width: 477px;
  height: 268px;
  margin: 10px auto 0;
}

.u-section-3 .embed-responsive-1 {
  position: absolute;
}

.u-section-3 .u-text-3 {
  width: 680px;
  margin: 28px auto 0;
}

.u-section-3 .u-map-1 {
  width: 665px;
  height: 266px;
  margin: 19px auto 51px;
}

@media (max-width: 767px) {
  .u-section-3 .u-text-2 {
    width: 540px;
  }

  .u-section-3 .u-text-3 {
    width: 540px;
  }

  .u-section-3 .u-map-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 918px;
  }

  .u-section-3 .u-text-2 {
    width: 340px;
  }

  .u-section-3 .u-video-1 {
    width: 340px;
    height: 191px;
  }

  .u-section-3 .u-text-3 {
    width: 340px;
  }

  .u-section-3 .u-map-1 {
    width: 340px;
  }
}.u-section-4 .u-sheet-1 {
  min-height: 766px;
}

.u-section-4 .u-text-1 {
  margin: 60px 0;
}.u-section-5 .u-sheet-1 {
  min-height: 768px;
}

.u-section-5 .u-text-1 {
  margin: 60px auto 0;
}

.u-section-5 .u-text-2 {
  margin: 36px auto 0;
}

.u-section-5 .u-layout-wrap-1 {
  margin-top: 36px;
  margin-bottom: 0;
}

.u-section-5 .u-layout-cell-1 {
  min-height: 572px;
}

.u-section-5 .u-container-layout-1 {
  padding: 30px 30px 30px 31px;
}

.u-section-5 .u-text-3 {
  margin: 0;
}

.u-section-5 .u-layout-cell-2 {
  min-height: 597px;
}

.u-section-5 .u-container-layout-2 {
  padding: 23px 30px;
}

.u-section-5 .u-text-4 {
  margin: 0;
}

.u-section-5 .u-text-5 {
  margin: 36px auto 54px;
}

@media (max-width: 1199px) {
  .u-section-5 .u-sheet-1 {
    min-height: 702px;
  }

  .u-section-5 .u-text-2 {
    margin-top: 65px;
  }

  .u-section-5 .u-layout-wrap-1 {
    margin-top: -56px;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 472px;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 492px;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-sheet-1 {
    min-height: 490px;
  }

  .u-section-5 .u-text-2 {
    margin-top: 168px;
  }

  .u-section-5 .u-layout-wrap-1 {
    margin-top: -159px;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 30px;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-sheet-1 {
    min-height: 590px;
  }

  .u-section-5 .u-text-2 {
    margin-top: 282px;
  }

  .u-section-5 .u-layout-wrap-1 {
    margin-top: -299px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-text-2 {
    margin-top: 410px;
  }

  .u-section-5 .u-layout-wrap-1 {
    margin-top: -452px;
  }
}